tensorflow
huggingface_hub
presidio_analyzer
presidio_anonymizer
presidio_image_redactor
spacy
# for part 2
connexion
connexion[swagger-ui]
flask
flask-cors
swagger_ui
waitress
awslambdaric
boto3
awscli
