awscli
awslambdaric
boto3
connexion
connexion[flask]
connexion[swagger-ui]
connexion[uvicorn]
huggingface_hub
kafka-python
presidio_analyzer
presidio_anonymizer
presidio_image_redactor
spacy
swagger_ui
tensorflow
waitress
